*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.layout{
   width: 80%;
   margin: 20px auto;
   height: 1500px;
}
img{
    width: 100%;
    height: 100%;
}
/* header */
header{
    width: 100%;
    height: 40%;
}

.logo-nav{
    width: 100%;
    height: 20%;
}

.logo{
    width:15%;
    height: 60%;
    border-right: 1px solid grey;
    padding-right: 10px;
    min-width: 200px;
    max-width: 200px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
    padding-top: 40px;
    text-transform: uppercase;
    color: gray;
}

nav ul li:hover{
    color: rgb(107, 40, 40);
    cursor: pointer;
}

.header-box{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: calc(80% - 60px);
    margin: 30px 0;
    border-radius: 1%;
    position: relative;
} 

.overlay::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.header-text{
    width:50% ;
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
}
.header-title{
    font-size: 30px;
}
 /* main */
main{
    width: 100%;
    height: 45%;
    color:grey;
    overflow: hidden;

}

.main-title{
    width: 100%;
    padding-top: 20px
}

.main-text{
    width: calc(100% - 50% - 40px);
    float: left; 
    padding: 15px;
    height: calc(85% - 40px);
    margin: 20px;
}
.main-text img{
    object-fit: cover;
}
.side-box{
    width: 25%;
    height:calc(85% - 40px);
    margin: 20px 0;
    padding: 15px;
}

.main-title h1{
    color: black;
}

.img-box{
    width: 90%;
    height:40%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

.box-text{
    width: 90%;
    margin: 20px auto;
}

.box-text h5{
    color: black;
    margin: 10px 0;
    font-weight: 800;
}

.left{
    float: left;
}
.right{
    float: right;
}


#heart{
    color: red;
}

/* footer */
footer{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}